<!DOCTYPE html>
<html lang="en" class="no-js">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ID Check</title>
    <style type="text/css">
      body,
      html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #212f3c;
      }

      .bg {
        width: 60%;
        height: 60%;
      }
    </style>
  </head>

  <body>
    <center>
      <img class="bg" src="/dist/images/under.png"></div>
    </center>
  </body>

</html>